.categories {
  display: flex;
  align-items: center;
}

.categoryButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  text-align: left;
  margin-right: 20px;
  
}

.inMenu .categoryButton {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.subcategoryList {
  margin-left: 15px;
}

.subcategoryButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px 0;
  text-align: left;
}

.inMenu .subcategoryButton {
  color: white;
}

.active {
  text-decoration: underline;
}

.mainCategories {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* New styles for active categories and subcategories */
.categoryButtonActive {
  color: grey;
}

.subcategoryButtonActive {
  color: grey;
}