.additionalFilters {
  margin-bottom: 20px;
  position: relative;
}

.dropdownToggle {
  padding: 5px;
  background-color: transparent;
  border: none;
outline: none;
  cursor: pointer;
}

.dropdownContent {
  color: #f0f0f0;
position: absolute;
z-index: 500;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.filterButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;


}

.filterButton {
  padding: 5px 10px;
     background-color: transparent;
  border: none;
outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filterButtonActive {
   background-color: transparent;
  border: none;
}

.filterButtonDisabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: grey;
}

.clearFilters {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}