.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 600;
  background-color: #f8f8f8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 900px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdownSection {
  position: relative;
  width: 70%;
  display: flex;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 5px 10px;
  margin-left: 10px;
}

.menuButton:hover {
  background-color: #f0f0f0;
}
