.yearsList {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.yearButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yearButtonActive {
  border: 2px solid blue;
  background: lightblue;
}

.yearButtonDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.yearButton:hover:not(.yearButtonDisabled) {
  background: #f0f0f0;
}